.PicText {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.picFirst {
  flex-direction: row-reverse;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 20px;
}

.content {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .PicText {
    flex-direction: column;
  }

  .background {
    width: 230px !important;
    height: 230px !important;
  }
}
