.wrapper {
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  width: 100vw;
  color: white;
}

.navBar {
  display: flex;
  align-items: center;
  height: 5vh;
  padding: 15px;
}

.navBar li {
  list-style: none;
  margin: 15px;
}

.navBar li:hover {
  cursor: pointer;
}

.navBar li a {
  color: #555;
  font-size: xx-large;
  text-decoration: none;
}

.data {
  height: 95vh;
  overflow: auto;
}

h1 {
  color: #eee;
  font-family: llxb;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 70px;
}

h2 {
  font-size: 24px;
  font-family: helvetica, sans-serif;

  font-style: normal;
  font-weight: 300;
  color: #ffcc00;
}

p {
  text-align: justify !important;
  font-size: 22px;
}

li {
  font-size: 20px;
  color: #ffffff;
  font-family: helvetica, sans-serif;
  text-align: justify;
  margin: 10px;
}
