.wrapper {
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.navBar {
  width: 100%;
  background-color: #212529;
}

.navBar a {
  font-size: 25px;
  margin: 20px;
}

.data {
  height: 95vh;
  overflow: auto;
}

h1 {
  color: #eee;
  font-size: 85px !important;
}

h2 {
  font-style: normal;
  font-weight: 300;
  color: #253551;
  font-size: 50px !important;
}

p {
  text-align: justify !important;
  font-size: 32px;
}

li {
  font-size: 20px;
  font-family: helvetica, sans-serif;
  text-align: justify;
  margin: 10px;
}

.titleLinks {
  color: white;
  font-size: 30px;
}

a {
  color: white;
}

a:hover {
  cursor: pointer;
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}
