.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Section 1  */

.title {
  text-align: center;
  height: 50%;
  flex-shrink: 0;
  background-color: #253551;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Section 2  */
.summary {
  background-color: white;
  padding: 50px;
  margin: auto;
  text-align: center;
  max-width: 1500px;
}

/* Section 3  */
.demo {
  padding: 50px;
  background-color: #253551;
}

.demo h2 {
  color: white;
  text-align: center;
}

/* Section 4 */
.myWork {
  padding: 50px;
  background-color: white;
  flex: 1;
  color: #253551;
}

.myWork h2 {
  text-align: center;
}
