.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Section 1  */

.title {
  text-align: center;
  height: 50%;
  flex-shrink: 0;
  background-color: #253551;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Section 2  */
.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  padding: 50px;
}

.cards {
  gap: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1700px;
  margin: auto;
}

.cardImages {
  max-width: 400px;
}

.relativeWrapper {
  position: relative;
}

.cardDescription {
  position: absolute;
  top: 10px;
  right: -120px;
  background-color: #253551;
  width: 200px;
  color: #fff;
  padding: 25px;
}

/* Section 3 */

.myWork {
  padding: 50px;
  background-color: #253551;
  flex: 1;
}

.myWork h2 {
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cards {
    gap: 50px;
  }

  .relativeWrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .cardDescription {
    width: 400px;
    position: relative;
    right: 0;
  }
}
