.Home {
  padding-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h1 {
  text-align: center;
}

.content p {
  max-width: 700px;
  padding-bottom: 30px;
  text-align: justify;
}

.proyectImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin: auto;
}

.card {
  color: white;
  margin: 10px;
  text-align: center;
}

.card > span {
  margin-top: 10px;
}

.box {
  width: 400px;
  height: 400px;
}

img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.card:hover {
  transform: scale(1.05);
  transition: 0.4s;
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .Home {
    padding-bottom: 10px;
    overflow-x: hidden;
  }
}
