.Home {
  height: 90vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50%;
  height: auto;
  margin: auto;
  align-content: center;
  justify-content: center;
}

.content h3 {
  max-width: 700px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-weight: 5400;
  color: #253551;
  font-size: 50px;
}

.proyectImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50%;
  height: auto;
  margin: auto;
  background-color: #253551;
  align-content: center;
  gap: 20px;
}

.card {
  color: white;
  text-align: center;
}

.card span {
  font-size: 30px;
}

.box {
  max-width: 370px;
  height: 370px;
}

img {
  width: 100%;
  height: 90%;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.4s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .proyectImages {
    padding: 20px;
  }

  .content h3 {
    font-size: 28px;
    padding: 15px;
  }

  img {
    height: 80%;
  }
}
